.login-cover-image {
    background-image: url(../img/bg-2.jpg) !important;
	background-size: cover !important;
}
.navbar-brand img{	
	max-height: 51px;
    margin: 0 auto;
    margin-top: -10px;
}
.btn.btn-success{
	background: #F96332;
    border-color: #F96332;
}
.login-v2{
	margin: 17% auto;
}
    
.btn.default:hover, .btn.default:focus, .btn.default:active, .btn.default.active, .btn.default[disabled], .btn.default.disabled {
    color: #333333;
    background-color: #d8d8d8 !important;
    outline: none !important;
}
.form-control{
	height:auto;
}

.input-sm {
    height: 28px;
    padding: 5px 10px;
    font-size: 13px;
}
.input-mini {
    width: 45px !important;
}

.dataTables_extended_wrapper .dataTables_paginate, .dataTables_extended_wrapper .dataTables_length, .dataTables_extended_wrapper .dataTables_info {
    display: inline-block;
    float: none !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important;
}
.dataTables_extended_wrapper .dataTables_length label {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 13px;
    float: none !important;
    display: inline-block !important;
}
.btn.default {
    color: #333333;
    text-shadow: none;
    background-color: #e5e5e5;
}
.dataTables_processing{
	position: absolute;
    top: 10%;
    width: calc(100% - 20px);
    text-align: center;
    height: 100%;
    left: 10px;
    padding-top: 18%;
    background: rgba(0, 0, 0, 0.2);
    color:#fff;
}
.morris-inverse .morris-hover,.jvectormap-label{
	display:none!important;
}
.rowclick tr{
	cursor:pointer;
}
.form-control.updatable{
	padding:5px 1px;
	width:auto;
}
select.form-control.updatable{
	padding:5px 1px;
	width:auto;
}
.inline-checkbox{
	vertical-align:middle;
	margin-top:-2px !important;
}

.panel-body {
	padding:5px;
}

.form-filter {
	margin-top:3px;
}

.table-container {
	padding:10px;
	overflow-x:auto;
}


@media (max-width: 767px) {
	div.dataTables_wrapper div.dataTables_paginate {
		margin: 10px 0px 5px !important;
		text-align: center;
		width:100%;
	}
	
	.dataTables_length, div.dataTables_info {
		text-align:center;
		width:100%;
		margin-top:5px;
	}
	
	div.dataTables_wrapper div.dataTables_info {
		width:100%;
		text-align:center;
		margin-top:5px;
	}
	
}

.dt-actions a, .dt-actions button, .label-inline-block{
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	display: inline-block;
}


.lotto-white-box{
	cursor: pointer;
}

.lotto-white-box span{
	padding: 4px 5px;
	display:inline-block;
	background:#fff;
	color:gray;
	font-size:11px;
	margin:1px;
	border-radius: 50%;
}

span.lotto-gray-span{
	background:gray;
	color:#fff;
}
.login .login-header {
    position: absolute;
    top: -115px;
    left: 50%;
    right: 0;
    width: 450px;
    padding: 0 40px;
    margin-left: -225px;
    font-weight: 300;
}
.login .login-header img{
	max-height:100px;
}

.login-cover .login-cover-bg {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background: linear-gradient(to bottom,rgba(0,0,0,.45) 0,rgba(0,0,0,.3)) !important;
}
.login.login-v2 .login-content .form-control {
	border: 1px solid transparent;
	background-color: #fff !important;
	color: #000 !important;
	height: calc(1.8em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 16px;
    line-height: 1.8;
    border-radius: 6px;
}
.rightsCheckBox {
    margin-left: 10px !important;
    height: 20px;
    width: 40px;
}