<style>
	html,
	body {
		margin: 0;
		height: 100%;
		overflow: hidden
	}
</style>

<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<div class="login-cover">
		<div class="login-cover-image"></div>
		<div class="login-cover-bg"></div>
	</div>
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-v2" data-pageload-addclass="animated fadeIn">
			<!-- begin brand -->
			<div class="login-header">
				<center>
					<img src="scripts/img/logo.png" />
				</center>
			</div>
			<!-- end brand -->
			<div class="login-content">
				<form action="" method="POST" class="margin-bottom-0" id="frm">
					<input type="hidden" name="action" value="login" />
					<div class="form-group m-b-20">
						<input type="text" name="username" class="form-control input-lg" placeholder="Enter mobile no." />
					</div>
					<div class="form-group m-b-20">
						<input type="password" name="password" class="form-control input-lg" placeholder="Enter password" />
					</div>
					<div class="checkbox m-b-20">
						<label>
							<input type="checkbox" /> Remember Me
						</label>
					</div>
					<div class="login-buttons">
						<button type="submit" class="btn btn-success btn-block btn-lg" style="background-color: #8d2929;border-color: #ffcc28;">Sign me in</button>
					</div>

				</form>
			</div>
		</div>
		<!-- end login -->
	</div>
	<!-- end page container -->


	<script>
		$(document).ready(function() {
			//LoginV2.init();
			$("#frm").submit(function(e) {
				e.preventDefault();
				$.post(siteURL + "scripts/php/login_check.php", $(this).serialize(), function(data) {
					notify(data);
					if (data.success) {
						user = data.user;
						window.location.reload();
					} else {

					}
				});

			});
		});
	</script>
</body>

</html>