/* Print Media */
@media print {
  .regiIdText {
    text-align: right;
  }
  .MainTitle {
    text-align: center !important;
    font-size: 22px;
    font-weight: 800;
  }

  .cardMainDiv {
    width: 43.5%;
    border: 1px solid #000;
    padding: 10px;
    float: left;
    margin: 10px;
    min-height: 80px;
  }
  .cardQRDiv {
    width: 25%;
    float: left;
  }
  .cardDetailsView {
    width: 99%;
    margin-top: 5px;
    margin-left: 10px;
  }
  .TitleTag {
    font-size: 20px;
    margin: 0px;
  }
  .TitleTagCenter {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }
  .table {
    border: 1px solid #ddd;
    width: 100%;
    margin-left: 0%;
  }

  .table1 {
    border: 1px solid #ddd;
    width: 100%;
    margin-left: 0%;
  }
}
.regiIdText {
  text-align: right;
}

